<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AcadreLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <AcadreLib.Properties.Settings>
            <setting name="AcadreLib_AcadreServiceV7_AcadreServiceV7" serializeAs="String">
                <value>http://esdhtest2/acadre/Acadre.CM.PublicServices/SoapAuth/AcadreServiceV7.asmx</value>
            </setting>
            <setting name="AcadreLib_CPRBroker_Part" serializeAs="String">
                <value>https://cprbroker.syddjurs.dk/services/Part.asmx</value>
            </setting>
            <setting name="AcadreLib_AcadreServiceV4_AcadreServiceV4" serializeAs="String">
                <value>http://esdhtest2/acadre/Acadre.CM.PublicServices/soapAuth/AcadreServiceV4.asmx</value>
            </setting>
        </AcadreLib.Properties.Settings>
    </applicationSettings>
</configuration>